#body .package_card{
    border-radius: 24px;
    box-shadow:none !important
}

#body .package_card1 img{
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

#body .green400{
color: var(--green400);
}

#body .yellow400{
    color: var(--star);
}

#body .grey400{
    color: var(--text-secondary);
}

#body .star1{
    font-size: 14px;
}

#body .existing_rating1,.star1{
    font-size: 14px ;
    margin-top: 3px;
}

#body .existing_price1{
    font-size:18px;
}
#body .existing_perPerson1{
    font-size: 12px;
}


#body .existing_packages_img1{
    max-height: 180px ;
}