
/* cardViewtabs.css */
.box > .nav-item .nav-link.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: blue;
}

#body.carvan_img{
  max-width: 421px;
  height: auto;
}

@media screen and (min-width: 2560px) {
  #body .carvan_img {
    min-width: 232px; 
  }
  .share-whatsapp {
    display: none;
}
}
/* @media screen and (max-width: 1440px) {
  #body .carvan_img {
    max-width: 350px; 
  }
} */
@media screen and (max-width: 1024px) {
  #body .carvan_img {
    max-width: 315px; 
  }
}

@media screen and (max-width: 768px) {
  #body .carvan_img {
    max-width: 232px; 
  } 
}

@media screen and (max-width: 375px) {
  #body .carvan_img {
    max-width: 350px; 
  }
}

@media screen and (max-width: 320px) {
  #body .carvan_img {
    max-width: 295px;
  }
}




