.trending {
  font-family: var(--font-primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.trending:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.trending .card-body .card-title {
  color: var(--btn-pink-bg);
}
