#body .navButton1 {
  background: var(--white);
  color: var(--blue-bg-secondary) !important;
}
#body .nav-link {
  color: var(--white);
}
#body .navbar-nav .dropdown-menu {
  background:var(--blue-bg-ternary)
}

                                       
#body .nav_drop:hover{
color: var(--black) !important;
}
#body .nav_drop:focus{
background: var(--blue-bg-ternary);
color: var(--white) !important;
}

@media all and (max-width: 992px) {
  #body .navbar-collapse {
    position: absolute;
    top: 0;
    right: -50%; /* Start offscreen from the right */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 30%;
    transition: all 0.1s ease-in-out;
    display: block;
    background: #13182f;
    min-height: 100vh;
  }
  /* #body .nav-link {
    font-size: 15px;
  } */

  /* #body .show {
        background: #13182F !important;
    } */

  #body .navbar-collapse.collapsing {
    height: auto !important;
    right: 0; /* Move to the right */
    transition: all 0.2s ease;
  }

  #body .navbar-collapse.show {
    right: 0; /* Show from the right */
  }
  #body .nav_drop {
    color: var(--white);
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  #body .navbar-collapse {
    width: 40%;
  }
}
@media all and (max-width: 500px) {
  #body .navbar-collapse {
    width: 50%;
  }
}
@media all and (max-width: 318px) {
  #body .navbar-collapse {
    width: 80%;
  }
}

#body .text_white {
  color: var(--white);
}

#body .my_text {
  font-size: 14px;
}
#body .navbar-toggler,
#body .navbar-toggler:focus,
#body .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
  z-index: 10;
}
