#body .navButton1{
    background: var(--white) ;
    color: var(--blue-bg-secondary)  !important;
}
#body .nav-link{
    color: var(--white);
}



@media all and (max-width: 992px) {

   #body .navbar-collapse {
        position: absolute;
        top: 54px;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.1s ease-in-out;
        display: block;
    }
 #body   .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 100%;
        right: 100%;
        transition: all 0.2s ease;
    }
  #body  .navbar-collapse.show {
        right: 0;
    }
    

}