#body .sort_btn:focus,:active{
border: none;
outline: none;

}

#body .sort_btn{
    font-size: clamp(10px,1vw,14px);
    border: none;
outline: none;
}
#body .sort_dropdown{
background: var(--white);
width:fit-content;
border-radius: 6px;
border: 1px solid var(--gray-200);
}

#body .after_drop::after{
    display: none;
}

#body .search_result_count{
    font-size: clamp(12px,2vw,24px);
    color: var(--blue-900);
}
#body .count{
    color: var(--black);
}

#body .sort_by,.early{
    font-size: clamp(10px,1vw,14px);
}


@media all and (max-width: 1200px) {

#body .comparison_modal{
    max-width: 100%;
}
}
@media all and (max-width: 575px) {

#body .compare_footer_table{
   display: none !important;
}
}


#body .compare_modal_title{
    font-size: clamp(14px ,1.2vw,18px) !important;
}
