#body .comparison_card{
    font-family: var(--font-primary);
}

#body .comp_para_green{
    color: var(--success-600);
}

#body .compare_para_grey{
    color: var(--search-card-by);
}

#body .book_now_btn{
    background: var(--btn-pink-secondary);
    color: var(--white);
}

#body .compare_trip_name{
    font-size: clamp(10px,1vw,20px);
}

#body .compare_price p {
    font-size: clamp(6px, 1vw, 18px) !important;
}