@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --black: black;
    --white: #ffffff;
    --body-bg-primary:#F2F5FC;
    --body-bg-secondary:#F3F4F6;
    
    
    --blue-bg-primary:#273E87;
    --blue-bg-secondary:#4263C9;
    --blue-bg-ternary:#13182f;
    --blue-bg-active-fill:#E7EBF8;
    --blue-bg-accordian:#F1F5F5;
    
    --btn-pink-bg:#9A3C70;
    --btn-pink-secondary:#AE4A84;
    
    --rating-green:#039855;
    --font-primary: "Inter";
    --grey-text:#808A9E;
    --Error-600:#D92D20;
    --input-bg:#F2F2F2;
    --primary-text-color: #637381;

    /* Existing Packages */
    --stroke: #DFE4EA;
    --green400:#219653;
    --text-secondary:#5E6282;
    --star:#F79009;
  }