.box{
    color: var(--hex);
}
.discount-tag {
    padding: 3px 10px;
    border-radius: 5px;
}
.custom-shadow {
    box-shadow: 0px 0.899px 3.598px 0.899px rgba(66, 99, 201, 0.12), 
                0px 2.698px 2.923px -1.349px rgba(66, 99, 201, 0.25), 
                0px 0px 0.225px 0.675px rgba(66, 99, 201, 0.05), 
                0px 0px 0.225px 0.225px rgba(66, 99, 201, 0.07);
}
/* Default icon size */

#body .book_now{
    padding: 10px 0px 10px 0px;
    border-radius: 10.12px;
border: 3.036px solid #5A80D7;
background: linear-gradient(180deg, #4263C9 0%, #5A80D7 100%);
box-shadow: 0px 0.899px 3.598px 0.899px rgba(66, 99, 201, 0.12), 0px 2.698px 2.923px -1.349px rgba(66, 99, 201, 0.25), 0px 0px 0.225px 0.675px rgba(66, 99, 201, 0.05), 0px 0px 0.225px 0.225px rgba(66, 99, 201, 0.07);
}

#body  .add_to_wish {
    padding: 14px 0px 10px 0px;
    border-radius: 10.12px;
border: 1px solid #3C54B9;
color: #3C54B9 !important;
}

.logo {
    color: var(--blue);
  }
  @media screen and (max-width: 1024px) {
    .package-icons{
        overflow-x: scroll;
    }
  }
  @media screen and (max-width: 1250px) {
   #body .book_now, .add_to_wish{

   }
  }