#body .trust{
    color: white;
    position: relative;
    border-radius: 12px;
    min-height: 460px;
}
#body .trust img{
    object-fit: cover;
}
#body #trust_img{
    
    /* background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 50%, #111 114.11%), url(<path-to-image>), lightgray 50% / cover no-repeat; */
    border-radius: 12px;
}

